@charset "UTF-8";

/* reset */
*,
*::before,
*::after {box-sizing: border-box;}
html, body{ font-size:16px;word-break: keep-all; font-family: 'Pretendard';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
body {-webkit-text-size-adjust:none;} 
ul, li{list-style:none}
h3{font-weight: 700;}
a{text-decoration:none;cursor: pointer}
a:hover{text-decoration:none;color: none}
.mgt8{margin-top:8px!important}
.mgt20{margin-top:20px!important}
.mgb20{margin-bottom:20px!important}
.mgt40{margin-top:40px!important}
.mgb40{margin-bottom:40px!important}
.mgt50{margin-top:50px!important}
.mgt100{margin-top:100px!important}
.point_ylw{color:orange }
#wrapper{width:1320px; margin:0 auto}
.basic_lo{width:1320px; margin:0 auto;padding: 5px 0;}
.basic_lo .logo{float:left; margin-right:100px;    margin-top: 7px;}
.basic_lo .logo img{width:150px}
.floatL{float:left!important}
.floatR{float:right!important}

.clear{clear:both}
.center{text-align:center;}

nav .top-menu{width:100%; height:30px; font-size:12px;position: relative;border-bottom:1px solid #eee;margin-top: 7px;text-align: right;}
nav .top-menu a{width:30px;text-decoration:none; color:#333; padding:10px 20px 5px 0;}
nav .top-menu .right-area{margin-right:20px}
nav .middle-menu{width:100%;clear:both;border-bottom:2px solid #ffe063 }/*// #00d6c4*/
nav .middle-menu a{display:inline-block; color:#333;text-decoration: none;  margin-right:50px;font-weight: 700;}
nav .middle-menu ul li{float:left; margin-right:30px}
nav .middle-menu ul {display:inline-block;margin: 12px 0 5px;}
.container {display: flex;}
.container ul.reservationWrap{margin:20px 0}
.container ul.reservationWrap{width:100%}
.container ul.reservationWrap >li{float:left;; margin-right:30px}
.container ul.reservationWrap >li .img_title_wrap .poster_title{display:inline-block}
.container ul.reservationWrap >li .img_title_wrap .exhiPoster{width: 280px;height: 360px;}
.container ul.reservationWrap >li .rv_btnset{width:100%; margin-top:10px}
.container ul.reservationWrap >li .rv_btnset ul li:nth-child(1){margin-right:10px}
.reservationBtn{width:190px}

.container ul.reservationWrap >li .rv_btnset ul >li{float:left}
.container ul.reservationWrap >li .rv_btnset ul.good-btn{margin-right: 4px;}
.rebtn{width:185px}
#eventWrap {overflow: auto;margin-top:80px}
#eventWrap h3 ,#goodsWrap h3{margin-bottom:15px}
#eventWrap ul{}
#eventWrap ul li{float:left;width: 440px; margin-right:0;margin-bottom:5px}
#eventWrap ul li .eventImg{background:#eee; width:350px; height:180px;border-radius: 10px;}
#eventWrap ul li .eventTitle{font-size: 18px;margin-top: 10px;color: #363636;}
#eventWrap ul li .eventDate{font-size:.95em; color:#999}
#eventWrap ul li:last-child {margin-right:0px}

#goodsWrap{width:100%;overflow: auto}
#goodsWrap .goodslist {width:42%; float:left}
#goodsWrap .goodslist .goodImg{width:200px; height:200px;background:#eee;float:left}
#goodsWrap .goodslist .good_r{float:right}
#goodsWrap .goodslist .good_r .goodsTitle{font-size:22px;font-weight: 700;}
#goodsWrap .goodslist .good_r .goodsText{margin-top:8px;font-size:18px; margin-bottom:8px}
/*로그인 */
#loginWrap{width:460px;margin:0 auto}
#loginWrap>a{display: block;}
#loginWrap .memberckBox{margin-top:10px; text-align:center}
#loginWrap .memberckBox ul{display:inline-block}
#loginWrap .memberckBox ul li{float:left;position: relative; margin-right:15px;text-align:center}
#loginWrap .memberckBox ul li a{display:block}
#loginWrap .login_banner{margin-top:10px; width:460px}
#loginWrap .login_banner img{width:100%}


/* 페이징 */
.paging{display:block; text-align:center;clear: both;}
.paging u{color:#000;font-weight: bold;}
.paging a{color:#666;text-decoration: none;}
#centerWrap{width:460px;margin:0 auto}
/*회원가입*/
.btn2set{width:460px}
.btn2set .firbtn{width:49% ;display:inline-block}
.btn2set .secbtn{width:49%; display:inline-block;}
.btn2set>div>input{width:100%}
#footer{clear:both; background:#999; text-align:center; padding:15px 0; color:#fff}

/*이벤트 고객뷰*/
.card {min-height: 140px;}
.eventList_wrapper h4{margin-bottom:15px}
.eventList_wrapper .ev_customer{}
.eventList_wrapper .ev_customer ul{display:inline-block}
.eventList_wrapper .ev_customer li{float:left; margin:0 40px 40px 0;position: relative}
.eventList_wrapper .ev_customer li .event-text{color:#000;margin-bottom:6px; font-size:18px}
.eventList_wrapper .ev_customer li .event-date{color:#999; font-size:14px}
/*이벤트 상세페이지*/
.eventdetail-wrap{width:100%}
.eventdetail-wrap .eventdt_title{border-bottom: 1px solid #000;padding:4px}
.eventdetail-wrap .eventdt_title>h2{margin-bottom:10px}
.eventdt-img{ margin-top:30px}

.focuson{width:100%;min-width:1300px; height:560px;background:#000;margin-top:100px}
.focuson .focuson-wrap{width:1200px; margin:0 auto;height:560px; position:relative;}
.focuson .focuson-wrap .focus-txt{width:346px; height:425px; background:#000;padding:135px 30px 0 4px;}
.focuson .focuson-wrap .focus-txt p a{display:inline-block;}
.focuson .focuson-wrap .focus-txt .focus-tit span{display:inline-block;font-size:35px;color:#fff;position:relative;font-weight:700;margin-bottom:54px;}
.focuson .focuson-wrap .focus-txt .focus-tit span:after{content:""; display:block;position:absolute;right:0;width:50px; height:4px;background:#ec7d2c;bottom:-12px;transition:all 1s;}
.focuson .focuson-wrap .focus-txt .focus-tit span:hover:after{width:100%;}
.focuson .focuson-wrap .focus-txt .focus-tit2 a{font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;letter-spacing:-0.059em;font-size:50px; color:#fff;font-weight:700;line-height:60px;margin-bottom:25px;}
.focuson .focuson-wrap .focus-txt .focus-detail a{font-family: 'Noto Sans KR', 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;font-size:18px; color:#fff;font-weight:300;letter-spacing:-0.01em;}
.focus-con{position:absolute;width:981px;height:560px;top:0; left:380px;}
.focus-con-movie{position:absolute;top:0;left:0;width:981px;height:560px;}
.focus-con-movie iframe{width:981px;height:560px;}
.focus-con-img{position:absolute;top:0;left:0;width:981px;height:560px;}
.focus-con-img a{display:block;}
.focus-con-img a:after{content:""; display:block; width:86px; height:86px; background:url('http://tkfile.yes24.com/imgNew/common/kv-movie.png')no-repeat;position:absolute; top:50%; left:50%; margin:-43px 0 0 -43px;}
.focus-con-img img{width:981px; height:560px;}

/* 지금 나에게 필요한건? */
.inner_wrap {position: relative;width: 100%;max-width: 1280px;margin: 0 auto;box-sizing: border-box;}
.now_need {width: 1280px; margin: 165px auto 235px; display: flex;}
.now_need .inner_wrap {display: flex;}
.now_need .inner_wrap > div {width: 50%; position: relative;}
.now_need .inner_wrap .cont_left {padding: 53px 0;}

.now_need .title {font-size: 48px; font-weight: 700; letter-spacing: -2.56px; line-height: 1.39; margin-bottom: 10px;}
.now_need .txt {font-size: 28px; font-weight: 700; letter-spacing: -1.28px;}
.now_need .category_wrap a {display: inline-flex; align-items: center; box-sizing: border-box; position: absolute; -webkit-transition: all 0.1s ease; -ms-transition: all 0.1s ease; transition: transform 0.1s ease;}
.now_need .category_wrap a:hover {text-decoration: none; transform: scale(1.1);}
.now_need .category_wrap a.big_ver {height: 84px; -webkit-border-radius: 42px 42px 0 42px; -moz-border-radius: 42px 42px 0 42px; border-radius: 42px 42px 0 42px;}
.now_need .category_wrap a.small_ver {height: 63px; -webkit-border-radius: 32px 32px 0 32px; -moz-border-radius: 32px 32px 0 32px; border-radius: 32px 32px 0 32px;}
.now_need .category_wrap a.big_ver .cate_name {font-size: 28px;}
.now_need .category_wrap a.small_ver .cate_name {font-size: 22px;}
.now_need .category_wrap a:nth-child(1) {padding: 13px 31px 12px 30px; background: #313842; left: 89px; top: 0;}
.now_need .category_wrap a:nth-child(2) {padding: 17px 31px 16px; background: #fff; left: 149px; top: 100px;}
.now_need .category_wrap a:nth-child(3) {padding: 14px 44px 12px 17px; background: #37d243; right: 0; bottom: 21px;}
.now_need .category_wrap a:nth-child(4) {padding: 11px 21px 10px 19px; background: #fff; right: 40px; bottom: 95px; z-index: 1;}
.now_need .category_wrap a:nth-child(5) {padding: 11px 27px 10px 27px; background: #313842; left: 50%; bottom: 0; margin-left: -70px;}
.now_need .category_wrap a:nth-child(6) {padding: 14px 39px 12px 28px; background: #ffe063; right: 44px; top: 75px;}
.now_need .category_wrap a:nth-child(7) {padding: 18px 38px 19px 26px; background: #ffd222; color:#000; left: 0; bottom: 48px; z-index: 1;}

.now_need .category_wrap a:nth-child(1), .now_need .category_wrap a:nth-child(4), .now_need .category_wrap a:nth-child(6), .now_need .category_wrap a:nth-child(7) {-webkit-box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16); -moz-box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16); box-shadow: 10px 30px 20px 0 rgba(0, 0, 0, 0.16);}
.now_need .category_wrap a:nth-child(2), .now_need .category_wrap a:nth-child(3), .now_need .category_wrap a:nth-child(5) {-webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16); -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16); box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.16);}

.now_need .category_wrap a .cate_name {color: #fff; font-weight: 700;}
.now_need .category_wrap a .cate_name.font_black {color: #000;}

.search_wrap {display: flex; width: 508px; align-items: center; border-bottom: 6px solid #000; padding: 12px 0; margin-top: 60px;}
.search_wrap .input_search {flex-grow:1; align-items: center; border: none; height:29px; font-size: 24px; font-weight: 400; letter-spacing: -0.96px; padding: 0;}
.search_wrap .input_search::placeholder {color: #999999; font-weight: 400;}
.search_wrap .input_search::-webkit-input-placeholder {color: #999999; font-weight: 400;}
.search_wrap .input_search::-moz-placeholder {color: #999999; font-weight: 400;}
.search_wrap .input_search:-ms-input-placeholder {color: #999999; font-weight: 400;}
.search_wrap .input_search:-moz-placeholder {color: #999999; font-weight: 400;}
.search_wrap .btn_search {display: inline-block;width: 28px;height: 28px;background: url(/resources/image/ico_search.png) no-repeat;
    background-size: contain}



/*예매확인 및 취소페이지*/
.confirm-cancel-wrap{}
.confirm-cancel-wrap ul{overflow: auto;}
.confirm-cancel-wrap ul li{float:left; margin-right:20px; margin-bottom:20px}

/*boardlist*/
#total_search{overflow: hidden;}
.count-total{float: left;}

.menutop_search{float:right; margin-top:8px}
.form-select {border-radius: 10px!important;border: 1px solid #ddd!important;color:#575756!important;}
.search__input {
        width: 100%;
        padding: 8px 20px;
        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: #ddd;
        background-color: transparent;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 10px;
        border: 1px solid #ddd;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color: rgba(87, 87, 86, 0.8);
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 8px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }

.credits__container {
        margin-top: 24px;
    }

.credits__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
    }

.credits__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;
    }

.credits__link:hover,
        .credits__link:focus {
            color: rgb(191, 137, 135);
        }
        
/*showlist 검색*/
#search{float:right;width: 415px;  }
#search .search_select{width: 120px;float:left;margin-right:4px} 
#search .search_input{float:left;width:280px;margin-right:4px}
.input-search{    width: 225px;float: left;}


/*showview*/
.star{color:#666}

/*마우스오버*/
.banner_img, .banner_bg{display:inline-block;position: relative;}
.banner_img:hover:after,
.banner_img:hover > .hover_text,
.banner_bg:hover:after,
.banner_bg:hover > .hover_text{display:block;}

.banner_bg:hover > .hover_text .ht_location{}
.banner_bg:hover > .hover_text .ht_price{}
.banner_img:after,.banner_bg:after,.hover_text{display:none;}
.banner_img:after,.banner_bg:after{
  content:'';position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0, 0, 0, 0.3);z-index: 10;}
.banner_img {overflow: hidden;}
.banner_img img{height: 340px;}
.banner_img:hover img{transform: scale(1.2);transition: 1s;}
.hover_text {position: absolute;top: 140px;left: 25px;color: #fff;z-index: 20;font-weight: 600;font-size: 20px;}
.ht_title{font-size:30px;margin-top: -80px;}


/*퀵메뉴*/
.banner_img, .banner_bg{
  display:inline-block;
  position: relative;
}
.banner_img:hover:after,
.banner_img:hover > .hover_text,
.banner_bg:hover:after,
.banner_bg:hover > .hover_text
{
  display:block;
}
.banner_img:after,.banner_bg:after,.hover_text{
  display:none;
}
.banner_img:after,.banner_bg:after{
  content:'';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.banner_img {
  overflow: hidden;
}
.banner_img img{
  height: 340px;
}
.banner_img:hover img{
  transform: scale(1.2);
  transition: 1s;
}
.hover_text {
  position: absolute;
  top: 140px;
  left: 25px;
  color: #fff;
  z-index: 20;
  font-weight: 600;
  font-size: 20px;
}

/*퀵메뉴*/
#floatdiv { position:fixed; _position:absolute; _z-index:900;width:220px;display:inline-block;/* overflow:hidden;  같은 의미? */
right:0px; /* //화면 오른쪽에 위치한다. left로 변경가능 */top:20%; /* //화면 위쪽과의 간격 */background-color: transparent;margin:0;}
#floatdiv ul  { list-style: none; }
#floatdiv li  { margin-bottom: 2px; text-align: left; }
#floatdiv a   { color: #5D5D5D; border: 0; text-decoration: none; display: float; }
#floatdiv a:hover, #floatdiv .menu { background-color: #5D5D5D; color: #fff; } /* 마우스오버 시 배경/글씨 색깔 */
#floatdiv .menu, #floatdiv .last{margin-bottom: 0px; }


@media only screen and (max-width: 680px) {
#wrapper{width:100%}
.container ul.reservationWrap li { margin-right:5px}
.container ul.reservationWrap li{width:50%}
.container ul.reservationWrap li div .exhiPoster{width: 100%;height: 360px;}
.container ul.reservationWrap li::nth-child(2) ,.container ul.reservationWrap li::nth-child(4) { margin-right:0px}
#exhiPosterWrap ,#eventWrap, #goodsWrap{width:95%; margin:0 auto}
#eventWrap ul li .eventImg {width:100%}
#eventWrap ul li {width: 100%;margin-right: 0px;margin-bottom: 30px;}
.reservationBtn{width:100%}


}